@model ServiceWorkerWebsite.Models.Booking

@{
    ViewData["Title"] = "Create Booking";
}

<h2>@ViewData["Title"]</h2>

<h4>Booking</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <strong>Worker:</strong> @ViewBag.WorkerName
            </div>
            <div>
                <strong>Spec:</strong> @ViewBag.Speciality
            </div>

            

            


            




            <div class="form-group">
                @Html.LabelFor(model => model.BookingDate)
                @Html.EditorFor(model => model.BookingDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.BookingDate)
            </div>

            <p><strong>Worker:</strong> @ViewBag.Speciality</p>
            


            <div class="form-group">
                @Html.LabelFor(model => model.CustomerName)
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerName)
            </div>
            

            <div class="form-group">
                @Html.LabelFor(model => model.CustomerEmail)
                @Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerEmail)
            </div>

            <div class="form-group">
                <label>Price</label>
                <p class="form-control-plaintext">@ViewBag.Price</p>
            </div>

           







            <div class="form-group">
                @Html.CheckBoxFor(model => model.AgreeToTerms)
                @Html.LabelFor(model => model.AgreeToTerms, new { @class = "control-label" })
                <p>
                    <a href="@Url.Action("TermsAndConditions", "Bookings")" target="_blank">Read Terms and Conditions</a>
                </p>
                @Html.ValidationMessageFor(model => model.AgreeToTerms)
            </div>

            <div class="form-group">
                <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Paypal" asp-action="Index">Paypal - Continue to Payment</a>
<!--                <input type="submit" value="Continue to payment" class="btn btn-primary" /> -->
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>

@section Scripts {
    <script>
        
       
            
        document.addEventListener("DOMContentLoaded", function () {
            var today = new Date();
            var maxDate = new Date();
            maxDate.setDate(today.getDate() + 7); // Set maxDate to 7 days from now

            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("BookingDate").setAttribute("min", today); // Changed to "BookingDate"

            dd = maxDate.getDate();
            mm = maxDate.getMonth() + 1;
            yyyy = maxDate.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            maxDate = yyyy + '-' + mm + '-' + dd;
            document.getElementById("BookingDate").setAttribute("max", maxDate); // Changed to "BookingDate"
        });

    </script>
}

