@model ServiceWorkerWebsite.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worker_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worker_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgreeToTerms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgreeToTerms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Service_Id)
        </dd>
    
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
