@model IEnumerable<Service>

@{
    ViewData["Title"] = "Our Services";
}

<!-- Include Bootstrap CSS -->


<!-- Custom CSS -->
<link rel="stylesheet" href="~/css/Services.css">

<div class="container">

    <div class="jumbotron d-flex align-items-center" style="position : absolute; height:100% ;">
        <div class="container text-center">
            <!--    <h1 class="display-1 mb-4"><br></h1>-->
        </div>
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-transparent-1"></div>
        <div class="rectangle-transparent-2"></div>
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
        <div class="triangle triangle-1">
            <img src="img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-2">
            <img src="img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-3">
            <img src="img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-4">
            <img src="img/obj_triangle.png" alt="">
        </div>
    </div>
    <h1 class="text-center mb-5">@ViewData["Title"]</h1>

    <div style="padding-top:60px" class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border-0 shadow-sm service-card" data-tilt data-tilt-max="20" data-tilt-speed="400">
                    <!-- Image -->
                    <img src="@Url.Content(item.ImageUrl)" class="card-img-top service-img" alt="@item.Name">

                    <div class="card-body text-center">
                        <!-- Service Details -->
                        <h5 class="card-title service-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text service-description">@Html.DisplayFor(modelItem => item.Description)</p>
                        <!-- Action Buttons -->
                        <div class="text-center">
                            <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Workers" asp-route-serviceId="@item.Service_Id" asp-action="Index">View Available Workers</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
        </div>

<!-- Include Bootstrap JS (Optional) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="~/js/vanilla-tilt.js"></script>
<script>
    VanillaTilt.init(document.querySelectorAll(".service-card"), {
        max: 20,
        speed: 400,
        glare: true,
        "max-glare": 1
    });
</script>
