@model IEnumerable<Worker>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <!-- Sorting links -->
    <div>
        <strong>Sort by:</strong>
        <a asp-action="Index" asp-route-serviceId="@ViewData["ServiceId"]" asp-route-sortOrder="@ViewData["PriceSortParam"]">Price</a> |
        <a asp-action="Index" asp-route-serviceId="@ViewData["ServiceId"]" asp-route-sortOrder="@ViewData["RatingSortParam"]">Ratings</a>
    </div>

    <div class="jumbotron d-flex align-items-center" style="position: absolute; height: 100%;">
        <div class="container text-center">
            <!--    <h1 class="display-1 mb-4"><br></h1>-->
        </div>
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-transparent-1"></div>
        <div class="rectangle-transparent-2"></div>
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
        <div class="triangle triangle-1">
            <img src="img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-2">
            <img src="img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-3">
            <img src="img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-4">
            <img src="img/obj_triangle.png" alt="">
        </div>
    </div>

    <div style="padding-top:60px" class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <!-- Worker Profile Picture -->
                    <img src="@item.ProfilePic_Id" class="card-img-top" alt="Worker Profile Picture">
                    <div class="card-body">
                        <!-- Worker Details List -->
                        <ul class="list-unstyled">
                            <!-- Worker Price -->
                            <li><strong>Base Price:</strong> @item.Price <strong>/ Hr</strong></li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <!-- Action Buttons -->
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Worker_Id">Details</a>
                            <a class="btn btn-danger" asp-controller="Bookings" asp-action="Create" asp-route-workerId="@item.Worker_Id" asp-route-serviceId="@ViewData["ServiceId"]">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
