@model IEnumerable<Worker>

@{
    ViewData["Title"] = "Index";
    //var latitude = 43.683334;
    //var longitude = -79.766670;
}

<h1>Index</h1>

<div class="container">
    @* Sorting links *@
    <div>
        @* <script>
             @latitude = sessionStorage.getItem("latitude");
             longitude = sessionStorage.getItem("longitude");

            alert("latitude: " + @latitude);
            // Set values in the hidden input fields
            document.getElementById("latitudeInput").value = latitude;
            document.getElementById("longitudeInput").value = longitude;
        </script> *@
        <strong>Sort by:</strong>
        <a asp-action="Index" asp-route-serviceId="@ViewData["ServiceId"]" asp-route-sortOrder="@ViewData["PriceSortParam"]">Price</a> |
        <a asp-action="Index" asp-route-serviceId="@ViewData["ServiceId"]" asp-route-sortOrder="@ViewData["RatingSortParam"]">Ratings</a> | 
        @* <a id="locationTag" asp-action="Index" asp-route-serviceId="@ViewData["ServiceId"]" asp-route-sortOrder="@ViewData["LocationSortParam"]" asp-route-latitude="@latitude" asp-route-longitude="@longitude">Current Location</a> *@

        @* <script>
            latitude = sessionStorage.getItem("latitude");
            longitude = sessionStorage.getItem("longitude");

            document.getElementById("locationTag").setAttribute("asp-route-latitude", sessionStorage.getItem("latitude"));
            alert(document.getElementById("locationTag"));
            alert("latitude: " + latitude);
            // Set values in the hidden input fields
            document.getElementById("latitudeInput").value = latitude;
            document.getElementById("longitudeInput").value = longitude;
        </script> *@
        <div class="jumbotron d-flex align-items-center" style="position : absolute; height:100% ; ">
        <div class="container text-center">
            <!--    <h1 class="display-1 mb-4"><br></h1>-->
        </div>
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-transparent-1"></div>
        <div class="rectangle-transparent-2"></div>
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
        <div class="triangle triangle-1">
            <img src="img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-2">
            <img src="img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-3">
            <img src="img/obj_triangle.png" alt="">
        </div>
        <div class="triangle triangle-4">
            <img src="img/obj_triangle.png" alt="">
        </div>
    </div>
<div style="padding-top:60px" class="row">
        @foreach (var item in Model)
        {
<div class="col-md-4 mb-4">
<div class="card h-100">
<!-- Worker Profile Picture -->
<img src="@item.ProfilePic_Id" class="card-img-top" alt="Worker Profile Picture">
<div class="card-body">
<!-- Worker Name -->
<h5 class="card-title">@item.Name</h5>
<ul class="list-unstyled">
<!-- Worker Availability Status -->
<li><strong>Availability Status:</strong> @item.Availability_Status</li>
<!-- Worker Ratings -->
<li><strong>Ratings:</strong> @item.Ratings</li>
<!-- Worker Reviews -->
<li><strong>Reviews:</strong> @item.Reviews</li>
<!-- Worker Price -->
<li><strong>Base Price:</strong> @item.Price <strong>/ Hr</strong></li>
</ul>
</div>
<div class="card-footer">
<!-- Action Buttons -->
<div class="btn-group" role="group">
<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Worker_Id">Details</a>
 
                            <a class="btn btn-danger" asp-controller="Bookings" asp-action="Create" asp-route-workerId="@item.Worker_Id" asp-route-serviceId="@ViewData["ServiceId"]">Book</a>
 
 
                         <!--   <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Worker_Id">Edit</a>
<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Worker_Id">Delete</a>
 
                               -->
</div>
</div>
</div>
</div>
        }
</div>
</div>